---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Alles Gute zum Geburtstag">

  <h1>Alles Gute zum Geburtstag 🎉</h1>

  <p>
    Liebe Katja,
  </p>

  <p>
    ich wünsche dir von Herzen alles Liebe zum Geburtstag ❤️  
    Ich bin unglaublich stolz auf dich und freue mich, dass es nach all den Jahren noch so schön mit dir ist :)
    Hoffentlich wird dir diese Website ein wenig dabei helfen deinen weg als Psychotherapeutin zu gehen.
  </p>

  <p>
    Hier ein kleines Rätsel (weil heute dein Geburtstag ist extra leicht natürlich):  
    
    - Schau auf das Bücherregal
    - Land das an Bolivien, Brasilien und Argentinien grenzt
    - der letzte Buchstabe vom Alphabeth wenn man es Rückwärts spricht
    - Elementsymbol für Stickstoff 
    - Abkürzung für Europameisterschaft

    Vielleicht ist dort ja noch eine Kleinigkeit versteckt :)
  </p>

  <p>
    Dein Felix
  </p>

</BaseLayout>